@charset "UTF-8";
/*! normalize.css 2017-2019 */
/** 1. Change the default font family in all browsers. 更改所有浏览器中的默认字体系列 2. Prevent adjustments of font size after orientation changes in IE and iOS. 在IE和iOS中改变方向后，防止调整字体大小(横屏) */
html { -webkit-text-size-adjust: 100%; /* 2 */ -moz-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ -o-text-size-adjust: 100%; /* 2 */ text-size-adjust: 100%; /* 2 */ }

/** Remove the margin in all browsers. 删除边距 */
html, body { padding: 0; margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Add the correct display in IE 9-. 在IE 9中添加正确的显示 1. Add the correct display in Edge, IE, and Firefox. 在Edge，IE和Firefox中添加正确的显示。 2. Add the correct display in IE. 在IE中添加正确的显示。 */
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { /* 1 */ display: block; margin: 0; }

/** 1. Add the correct display in IE 9-. 在IE 9中添加正确的显示 2. Resolve compatibility */
audio, canvas, progress, video { display: inline-block; /* 1 */ *zoom: 1; /* 2 */ }

/** Add the correct display in iOS 4-7. 在iOS 4-7中添加正确的显示。 */
audio:not([controls]) { display: none; height: 0; }

/** Add the correct vertical alignment in Chrome, Firefox, and Opera. 在Chrome，Firefox和Opera中添加正确的垂直对齐方式。 */
progress { vertical-align: baseline; }

/** Add the correct display in IE. 在IE中添加正确的显示。 */
template, [hidden] { display: none; }

/* Links ========================================================================== */
/** 1. Remove the gray background on active links in IE 10. 删除IE 10中活动链接的灰色背景。 2. Remove gaps in links underline in iOS 8+ and Safari 8+. 删除iOS 8+和Safari 8+中链接下划线的间隙。 */
a { background-color: transparent; /* 1 */ -webkit-text-decoration-skip: objects; /* 2 */ text-decoration: none; /* 2 */ }

/** Resolve compatibility in IE 6. 解决IE 6兼容问题。 */
a.ie6:hover { zoom: 1; }

/** Remove the outline on focused links when they are also active or hovered 当焦点链接处于活动状态或悬停时，删除它们的轮廓 */
a:active, a:hover, a:focus { outline: none; outline-width: 0; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

/* List ol&ul&dl ========================================================================== */
/** Remove default style in all browsers. 去除默认样式 */
ol, ul, dl { margin: 0; padding: 0; list-style: none; }

/* Text-level semantics ========================================================================== */
/** 1. Remove the bottom border in Firefox 39-. 删除Firefox 39-中的底部边框。 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. 在Chrome，Edge，IE，Opera和Safari中添加正确的文本修饰。 */
abbr[title] { border-bottom: none; /* 1 */ text-decoration: underline; /* 2 */ -webkit-text-decoration: underline dotted; text-decoration: underline dotted; /* 2 */ }

/** Prevent the duplicate application of `bolder` by the next rule in Safari 6. 防止Safari 6中下一条规则重复应用`bolder`。 */
b, strong { font-weight: inherit; }

/** Add the correct font weight in Chrome, Edge, and Safari. 在Chrome，Edge和Safari中添加正确的字体粗细。 */
b, strong { font-weight: bolder; }

/** Add the correct font style in Android 4.3-. 在Android 4.3-中添加正确的字体样式。 */
dfn { font-style: italic; }

/** Add the correct background and color in IE 9-. 在IE 9中添加正确的背景和颜色。 */
mark { background-color: #ff0; color: #000; }

/** Add the correct font size in all browsers. 在所有浏览器中添加正确的字体大小。 */
small { font-size: 80%; }

/** Prevent `sub` and `sup` elements from affecting the line height in all browsers. 防止`sub`和`sup`元素影响行高 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/* Embedded content ========================================================================== */
/** Remove the border on images inside links in IE 10-. 删除IE 10中链接内图像的边框。 */
img { display: block; border-style: none; max-width: 100%; }

/** Hide the overflow in IE. 隐藏IE中的溢出。 */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** 1. Correct the inheritance and scaling of font size in all browsers. 纠正所有浏览器中字体大小的继承和缩放。 2. Correct the odd `em` font sizing in all browsers. 纠正所有浏览器中奇怪的'em`字体大小。 */
code, kbd, pre, samp { font-family: monospace, monospace; /* 1 */ font-size: 1em; /* 2 */ }

/** 1. Add the correct box sizing in Firefox. 在Firefox中添加正确的大小调整大小。 2. Show the overflow in Edge and IE. 在Edge和IE中显示溢出。 */
hr { -webkit-box-sizing: content-box; box-sizing: content-box; /* 1 */ height: 0; /* 1 */ overflow: visible; /* 2 */ }

/* Table ========================================================================== */
/** Solve the border */
table { border-collapse: collapse; border-spacing: 0; }

/* Forms ========================================================================== */
/** Remove the margin in Firefox and Safari. 删除Firefox和Safari中的边距 */
button, input, optgroup, select, textarea { margin: 0; }

/** Restore the font weight unset by the previous rule. 恢复以前规则未设置的字体粗细。 */
optgroup { font-weight: bold; }

/** Show the overflow in IE & Edge. 在IE和Edge中显示溢出。 */
button, input { overflow: visible; }

/** Remove the inheritance of text transform in Edge, Firefox, and IE. 删除Edge，Firefox和IE中文本转换的继承。 */
button, select { text-transform: none; }

/** 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` 防止WebKit错误，其中（2）破坏原生的`audio`和`video` controls in Android 4. Android 4中的控件。 2. Correct the inability to style clickable types in iOS and Safari. 纠正无法在iOS和Safari中设置可点击类型的样式。 */
button, [type="button"], [type="reset"], [type="submit"] { -webkit-appearance: button; /* 2 */ }

/** Remove the inner border and padding in Firefox. 删除Firefox中的内边框和填充。 */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner { border-style: none; padding: 0; }

/** Restore the focus styles unset by the previous rule. 恢复之前规则未设置的焦点样式。 */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring { outline: 1px dotted ButtonText; }

/** Change the border, margin, and padding in all browsers (opinionated). 更改所有浏览器中的边框，边距和填充（自以为是）。 */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct the text wrapping in Edge and IE. 更正Edge和IE中的文本换行。 2. Correct the color inheritance from `fieldset` elements in IE. 纠正IE中`fieldset`元素的颜色继承。 3. Remove the padding so developers are not caught out when they zero out 删除填充，以便开发人员在零点清零时不会被捕获 `fieldset` elements in all browsers.、 所有浏览器中的`fieldset`元素。 */
legend { -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ color: inherit; /* 2 */ display: table; /* 1 */ max-width: 100%; /* 1 */ padding: 0; /* 3 */ white-space: normal; /* 1 */ }

/** Remove the default vertical scrollbar in IE. 删除IE中的默认垂直滚动条。 */
textarea { overflow: auto; -webkit-appearance: none; }

textarea:hover { outline: none; border: none; }

/** 1. Add the correct box sizing in IE 10-. 在IE 10中添加正确的大小调整大小 2. Remove the padding in IE 10-. 删除IE 10中的填充 */
[type="checkbox"], [type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Correct the cursor style of increment and decrement buttons in Chrome. 更正Chrome中增量和减量按钮的光标样式。 */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Correct the odd appearance in Chrome and Safari. 纠正Chrome和Safari中的奇怪外观。 2. Correct the outline style in Safari. 更正Safari中的轮廓样式。 */
[type="search"] { -webkit-appearance: textfield; /* 1 */ -webkit-box-sizing: content-box; box-sizing: content-box; outline-offset: -2px; /* 2 */ }

/** Remove the inner padding and cancel buttons in Chrome and Safari on OS X. 删除OS X上Chrome和Safari中的内部填充和取消按钮。 */
[type="text"], [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Correct the text style of placeholders in Chrome, Edge, and Safari. 更正Chrome，Edge和Safari中占位符的文本样式。 */
::-webkit-input-placeholder { color: inherit; opacity: 0.54; }

/** 1. Correct the inability to style clickable types in iOS and Safari. 纠正无法在iOS和Safari中设置可点击类型的样式。 2. Change font properties to `inherit` in Safari. 在Safari中将字体属性更改为`inherit`。 */
::-webkit-file-upload-button { -webkit-appearance: button; /* 1 */ font: inherit; /* 2 */ }

/* Apple & Android ========================================================================== */
/* 平缓效果
*/
* { -webkit-overflow-scrolling: touch; }

/* 内阴影 */
input { border: none; border-radius: 0; -webkit-appearance: none; outline: none; }

/* 下拉框黑背景 */
select { -webkit-appearance: none; }

/** 去除自带阴影的样式 */
a, input { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* 禁止长按链接与图片弹出菜单 */
a, img { -webkit-touch-callout: none; }

/* 阻止图片在微信里被点击放大  */
img { pointer-events: none; }

/* Hypocritical element ========================================================================== */
